
body { 
  background-image: url("./../images/df-min.jpg");
  background-size: cover; 
  font-family : 'Trebuchet MS',sans-serif;
  }

  .Bigbox {
    background : coral;
    color: white;
    text-align: center;
    block-size: 175px;
    margin-left: 390px;
    margin-right: 500px;
    border-radius: 20px;
  }

.Grostitre {
  font-size:35px;
}

.Smallboxes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: justify;
  height:45em;
}


.Box {
  display:flex;
  flex-direction: column;
  margin:5px;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0.7em 0.7em 1.2em rgb(68, 70, 70);
  margin-bottom: 6em;
  min-height: 15em;
}


.img {
  padding:1em;
}

h3 {
  margin-left: 1em;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}